<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CRSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="LogAnalyserSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <CRSettings>
    <add key="TemplateWordFilePath" value="\Template\path\to\file.docx"/>
    <add key="FilePlaceholder" value="Template"/>
    <add key="DateFormat" value="dd MMMM, yyyy"/>
  </CRSettings>

  <LogAnalyserSettings>
    <add key="DefaultSimilarityPercentage" value="70"/>
  </LogAnalyserSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>